@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-azure-bg text-azure-text-primary font-mono dark:bg-black dark:text-matrix-secondary transition-colors duration-300;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-azure-bg dark:bg-black; 
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-azure-border dark:bg-matrix-primary; 
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-azure-secondary dark:bg-matrix-secondary; 
  }
}

