@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-mono dark:bg-black dark:text-matrix-secondary transition-colors duration-300;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-black; 
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-matrix-primary; 
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600 dark:bg-matrix-secondary; 
  }
}

